@use "./vars" as *;
@use "valaxy/client/styles/mixins/index.scss" as * with ($namespace: "st");

:root {
  --un-prose-links: var(--st-c-link);
  --color-red-a1: #e9546b1a;

  --grey-0: #fff;
  --grey-1: #fdfdfd;
  --grey-2: #f7f7f7;
  --grey-3: #eff2f3;
  --grey-4: #ccc;
  --grey-5: #999;
  --grey-6: #666;
  --grey-7: #333;
  --grey-8: #222;
  --grey-9: #000;

  --grey-1-a0: alpha(#fdfdfd, 0);
  --grey-1-a7: alpha(#fdfdfd, .7);
  --grey-1-a5: alpha(#fdfdfd, .5);
  --grey-1-a3: alpha(#fdfdfd, .3);
  --grey-9-a1: alpha(#000, .1);
  --grey-9-a5: alpha(#000, .5);
  --grey-2-a0: alpha(#f7f7f7, 0);

  --color-pink-light-old: #ffe6fa;
  --color-pink-light: alpha(#ffe6fa, .72);
  --color-cyan-light-old: #e3fdf5;
  --color-cyan-light: alpha(#e3fdf5, .72);

  --color-red: #e9546b;
  --color-pink: #ed6ea0;
  --color-orange: #ec8c69;
  --color-yellow: #eab700;
  --color-green: #0a7426;
  --color-aqua: #3e999f;
  --color-blue: #38a1db;
  --color-purple: #9d5b8b;
  --color-grey: #869194;

  --color-red-a1: alpha(#e9546b, .1);
  --color-red-a3: alpha(#e9546b, .3);
  --color-pink-a3: alpha(#ed6ea0, .3);
  --color-pink-light-a3: alpha(#ffe6fa, .3);
  --color-pink-light-a5: alpha(#ffe6fa, .5);
  --color-pink-light-a7: alpha(#ffe6fa, .7);

  --body-bg-shadow: var(--grey-2);
  --box-bg-shadow: var(--grey-9-a1);
  --text-color: var(--grey-7);
  --header-text-color: var(--grey-0);
  --primary-color: var(--color-red);

  --nav-bg: linear-gradient(-225deg, var(--color-cyan-light) 0, var(--color-pink-light) 100%);

}

:root {
  @include set-css-var-from-map($light);
}

html.dark {
  @include set-css-var-from-map($dark);
}

:root {
  --va-font-family-base: "Chinese Quotes", "Inter var", "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}